@import '../../../styles//variables.scss';

.container {
    position: relative;
    padding-left: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 45%;

    & h1 {
        color: $primary;
    }

    & a {
        text-decoration: none;
        color: $primary;
        font-weight: bold;
    }

    & span {
        font-weight: bold;
        color: $primary;
    }

    & .stars {
        height: 50px;
        width: 200px;
    }
}

// Laptop
@media screen and (min-device-width: 1440px) {
}

@media screen and (max-device-width: 1400px) and (min-device-width: 935px) {
}

// Tablet
@media screen and (max-device-width: 935px) and (min-device-width: 768px) {

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }
}

// Landscape phone
@media screen and (max-device-width: 768px) and (min-device-width: 543px) {

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }
}

// Portait phone
@media screen and (max-device-width: 543px) {
    .container {
        padding-left: 40px;
        margin-top: 20px;
    }
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
        width: 100px;
    }

    a {
        font-size: 12px;
    }
}