// Container for all sections
.container {
    height: 520px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .firstSectionContainer {
        height: 100%;
        width: 100%;
        
    }

// For second section with picture
    & .secondSectionContainerPicture {
        height: 100%;
        width: 100%;

    & .picture {
        height:100%;
        width: 50%;
        background-position: cover;
        background-repeat: no-repeat;
    }
}

// For second section with icons
& .secondSectionContainerIcons {
    height: 100%;
    width: 100%;
}

// For second section with carousel
& .secondSectionContainerCarousel {
    height: 100%;
    width: 100%;
}

}