@import '../../styles/variables.scss';

// Container for all sections
.container {
    height: 520px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .firstSectionContainer {
        height: 100%;
        width: 100%;
        
    }

// For second section with picture
    & .secondSectionContainerPicture {
        height: 100%;
        width: 100%;

    & .picture {
        height: 100%;
        width: 50%;
    }
}

// For second section with icons
& .secondSectionContainerIcons {
    height: 100%;
    width: 100%;
    background-color: $background-secondary;
    display: flex;
    justify-content: center;
    align-items: center;

    & .iconContainer {
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: relative;

        & .icon {
            height: 100px;
            margin-bottom: 75px;
            width: 100px;
            transition: all .25s;

            &:hover{
                transform: scale(1.1);
            }
        }

        & .circle{
            height: 140px;
            width: 140px;
            border-radius: 50%;
            border: 1px solid $primary;
            position: absolute;
            transform: translate(-22px, -15px)
        }
    }
}

// For second section with carousel
& .secondSectionContainerCarousel {
    height: 100%;
    width: 100%;
}

}


// Laptop
@media screen and (min-width: 1440px) {
    .secondSectionContainerCarouselNotLaptop {
        display: none;
    }
}

@media screen and (max-width: 1400px) and (min-width: 935px) {
    .secondSectionContainerCarouselNotLaptop {
        display: none;
    }
}

// Tablet
@media screen and (max-width: 935px) and (min-width: 768px) {
    .container .secondSectionContainerCarousel {
       display: none;
    }

    .secondSectionContainerCarouselNotLaptop {
        margin-top: -200px;
        margin-bottom: 50px;
    }
    
}

// Landscape phone
@media screen and (max-width: 768px) and (min-width: 543px) {

    .container .secondSectionContainerCarousel {
        display: none;
     }

    .container .secondSectionContainerPicture {
        width: 80%;
    }

    .container .secondSectionContainerIcons .iconContainer .icon{
        height: 75px;
        width: 75px
    }
    .container .secondSectionContainerIcons .iconContainer .circle{
        height: 110px;
        width: 110px;
    }
    .secondSectionContainerCarouselNotLaptop {
        margin-top: -200px;
        margin-bottom: 50px;
    }


}

// Portait phone
@media screen and (max-width: 543px) {

    .container .secondSectionContainerCarousel {
        display: none;
     }

    .container .secondSectionContainerIcons .iconContainer .icon{
        height: 50px;
        width: 50px
    }
    .container .secondSectionContainerIcons .iconContainer .circle{
        height: 70px;
        width: 70px;
        transform: translate(-13px, -10px);
    }
    .secondSectionContainerCarouselNotLaptop {
        margin-top: -200px;
        margin-bottom: 50px;
    }

}