@import '../../styles/variables.scss';

.container {
    padding-top: 30px;
    width: 100%;
    height: 120px;
    background-color: $background-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:0;


    & .socialMedia {
        height: 100%;
        width: 10%;
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;

        & .instagram,
        & .facebook {
            height: 50px;
            width: 50px;
            transition: all .25s;
            &:hover{
                transform: scale(1.15);
            }

            &:active{
                transform: scale(.98);
                
            }
        }
    }
}