@import '../../../styles/variables.scss';

.button {
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    width: 150px;
    color: white;
    text-align: center;
    transition: all .25s;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        box-shadow: 3px 3px 3px rgba(0,0,0,0.24);
    }

    &:active{
        transform:scale(.98);
        box-shadow: 5px 5px 5px rgba(0,0,0,0);
    }
    
}