
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
//Font Rule: font-family: 'Bungee Outline', cursive;

//Button Colors:
$hero-button: #AD5FD1;
$banner-button: #FF7219;

//Primary Colors:
$primary: #623475;

//Secondary Background:
$background-secondary: #FAFAFA;

