
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
//Font Rule: font-family: 'Bungee Outline', cursive;

//Button Colors:
$hero-button: #AD5FD1;
$banner-button: #FF7219;

//Primary Colors:
$primary: #623475;

//Secondary Background:
$background-secondary: #FAFAFA;

/*
///////////Media Queries/////////////

// Laptop
@media screen and (min-device-width: 1440px) {
}

@media screen and (max-device-width: 1400px) and (min-device-width: 935px) {
}

// Tablet
@media screen and (max-device-width: 935px) and (min-device-width: 768px) {
}

// Landscape phone
@media screen and (max-device-width: 768px) and (min-device-width: 543px) {
}

// Portait phone
@media screen and (max-device-width: 543px) {
}

*/